<!--form>
  <div class="row justify-content-center">

    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input type="email" class="form-control" id="email" placeholder="Introduce email">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input type="password" class="form-control" id="pass" placeholder="Introduce contraseña">
        </div>
      </div>

      <div class="form-group">
        <div class="button">
          <button type="button" class="btn btn-primary">Entrar</button>
        </div>
      </div>
    </div>

  </div>
</form-->

<app-chat></app-chat>



